# Created by Ansible
*filter
:INPUT ACCEPT [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
{% if firewall_docker_rules %}
:DOCKER-USER - [0:0]
{% endif %}
# flush chains
-F INPUT
{% if firewall_docker_rules %}
-F DOCKER-USER
# docker rules
{% if ansible_default_ipv4 %}
{% for docker_rule in firewall_docker_rules %}
{% for only in docker_rule.only %}
{% if only.ipv4 is defined %}
-A DOCKER-USER -i {{ ansible_default_ipv4.interface }} -s {{ only.ipv4 }} -p tcp -m conntrack --ctorigdstport {{ docker_rule.port }} --ctdir ORIGINAL -j ACCEPT -m comment --comment "{{ only.comment }}"
{% endif %}
{% endfor %}
-A DOCKER-USER -i {{ ansible_default_ipv4.interface }} -p tcp -m conntrack --ctorigdstport {{ docker_rule.port }} --ctdir ORIGINAL -j REJECT
{% endfor %}
{% endif %}
-A DOCKER-USER -j RETURN
{% endif %}
# basic rules
-A INPUT -p icmp -m comment --comment "accept all icmp" -j ACCEPT
-A INPUT -i lo -j ACCEPT -m comment --comment "accept all on loopback"
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT -m comment --comment "accept existing connections"
-A INPUT -m conntrack --ctstate INVALID -j DROP -m comment --comment "drop invalid packets"
-A INPUT -s 127.0.0.0/8 ! -i lo -j DROP -m comment --comment "block remote packets claiming to be from a loopback address"
# main rules
{% for item in firewall_open_ssh_ports %}
{% if item.ipv6 is not defined %}-A INPUT {% if item.ipv4 is defined %}-s {{ item.ipv4 }} {% endif %}-p tcp -m tcp --dport {{ item.port }} -j ACCEPT -m comment --comment "{{ item.comment }}"
{% endif %}
{% endfor %}
{% for item in firewall_open_tcp_ports %}
{% if item.ipv6 is not defined %}-A INPUT {% if item.ipv4 is defined %}-s {{ item.ipv4 }} {% endif %}-p tcp -m tcp --dport {{ item.port }} -j ACCEPT -m comment --comment "{{ item.comment }}"
{% endif %}
{% endfor %}
{% for item in firewall_open_udp_ports %}
{% if item.ipv6 is not defined %}-A INPUT {% if item.ipv4 is defined %}-s {{ item.ipv4 }} {% endif %}-p udp -m udp --dport {{ item.port }} -j ACCEPT -m comment --comment "{{ item.comment }}"
{% endif %}
{% endfor %}
# final reject
-A INPUT -j REJECT
COMMIT
