# Created by Ansible
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -p icmp -m comment --comment "accept all icmp" -j ACCEPT
-A INPUT -i lo -j ACCEPT -m comment --comment "accept all on loopback"
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT -m comment --comment "accept existing connections"
-A INPUT -m conntrack --ctstate INVALID -j DROP -m comment --comment "drop invalid packets"
-A INPUT -s 127.0.0.0/8 ! -i lo -j DROP -m comment --comment "block remote packets claiming to be from a loopback address"
{% for item in firewall_open_ssh_ports %}
{% if item.ipv6 is not defined %}-A INPUT {% if item.ipv4 is defined %}-s {{ item.ipv4 }} {% endif %}-p tcp -m tcp --dport {{ item.port }} -j ACCEPT -m comment --comment "{{ item.comment }}"
{% endif %}
{% endfor %}
{% for item in firewall_open_tcp_ports %}
{% if item.ipv6 is not defined %}-A INPUT {% if item.ipv4 is defined %}-s {{ item.ipv4 }} {% endif %}-p tcp -m tcp --dport {{ item.port }} -j ACCEPT -m comment --comment "{{ item.comment }}"
{% endif %}
{% endfor %}
-A INPUT -j REJECT
COMMIT
